/* Give your page a fun background color */
body{
    background-color: coral;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    /* Make the header and footer a different color from the background */

header{
    background-color: #8db99a;
    padding: 15px;
}

footer{
    background-color: blanchedalmond;
    padding: 15px;
}

/* Align the h1 containing your name in the center of the header*/
h1{
    text-align: center;
    color: rgb(38, 122, 179);
}

h2{
    text-align: center;
}

/* Make your p tag a different color and italic */
p{
    color: rgb(4, 6, 8);
    font-style: italic;
    padding-left: 15px;
}

/* Put a border around your image */
img{
    border: 8px solid #008B8B;
    width: 100px;
    height: 100px;
}

/* Change the font-family of your list */
li{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
 }
 
 ul{
    padding-top: 20px;
    padding-bottom: 20px;
 }
 